/include/ "gxp.dtsi"

/ {
  #address-cells = <1>;
  #size-cells = <1>;
  compatible = "HPE,GXP";
  model = "dl360poc";

  chosen {
    bootargs = "earlyprintk console=ttyS0,115200 user_debug=31";
  };

  aliases {
    ethernet0 = &umac0;
    ethernet1 = &umac1;
  };

  memory@40000000 {
    device_type = "memory";
    reg = <0x40000000 0x20000000>;
  };

ahb {
    leds: leds {
      compatible = "gpio-leds";

      power {
        gpios = <&xreg 6 0>;
        default-state = "off";
      };

      heartbeat {
        gpios = <&xreg 7 0>;
        default-state = "off";
      };

      identify {
        gpios = <&xreg 56 0>;
        default-state = "off";
      };

      health_red {
        gpios = <&xreg 57 0>;
        default-state = "off";
      };

      health_amber {
        gpios = <&xreg 58 0>;
        default-state = "off";
      };
    };

    vuhc: vuhc {
        compatible = "gpio-keys-polled";
        poll-interval = <100>;
        PortOwner0 {
                label = "Port Owner";
               linux,code = <200>;
                gpios = <&gpio 250 1>;
              };

         PortOwner1 {
                label = "Port Owner";
                linux,code = <201>;
                gpios = <&gpio 251 1>;
        };
        PortOwner2 {
                label = "Port Owner";
                linux,code = <202>;
                gpios = <&gpio 252 1>;
        };
      };
  };
};
